/* Write your CSS here */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #ffffff;
  background-color: #007bff;
  padding: 10px;
  width: 90px;
  height: 40px;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
  margin-top: 20px;
}

.heading {
  color: #2d3a35;
  font-size: 40px;
}

.paragraph {
  font-size: 20px;
  margin-top: 20px;
}

.counter {
  color: #c20a72;
}
